<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="TestA">
		<classes>
			<class name="seleniumtestng.TestNGAnnot" />
			<class name="seleniumtestng.TestNGAnnotations" />
		</classes>
	</test> <!-- Test -->
	<test thread-count="5" name="TestB">
		<classes>
			<class name="seleniumtestng.TestNGAnnotations" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
